@brand-success: #5cb85c;
@brand-danger: #d9534f;

.notification-body-details-container {
  min-height: 60px;
  line-height: 1.5em;

  b {
    color: #888;
  }

  i {
    color: #999;
  }

  .critical-bold{
    color: lighten(@brand-danger, 30%);
  }
}



